@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*Contenedor. Define lo que se ve y lo que no.*/
.container {
  position: relative;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
  border-radius: 20px;
  margin: auto;
}
/*Ocultamos lo innecesario.*/
.tabs input {
  visibility: hidden;
  display: none;
}
/*Alineamos los botones abajo en el centro.*/
.buttons {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}
/*Le damos visibilidad y diseño a los botones.*/
.buttons label {
  width: 15px;
  height: 15px;
  background: #51b9c0;
  opacity: 0.5;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin: 0 5px; /* Agrega margen horizontal entre los puntos */
}
/*Le damos interacción a los botones.*/
.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
.tabs input:nth-child(4):checked ~ .buttons label:nth-child(4) {
  opacity: 1;
  width: 30px;
}
/*Alineamos el contenido del slider.*/
.content {
  position: relative;
  width: 400vw;
  display: flex;
  transition: 0.5s;
}
.content .box {
  position: relative;
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  user-select: none;
  padding: 40px; /* Ajusta el espacio interno (padding) aquí */
  margin: 0; /* Ajusta el espacio externo (margin) aquí */
}
/*Diseño del fondo de cada slide.*/
.content .box {
  background: #e2e6e9;
}
/* .content .box:nth-child(1) {
  background: linear-gradient(90deg, #43cea2, #185a9d);
}
.content .box:nth-child(2) {
  background: linear-gradient(90deg, #ff4e50, #f9d423);
}
.content .box:nth-child(3) {
  background: linear-gradient(90deg, #ab57cc, #633f9c);
} */

/*Movimiento de los slide.*/
.tabs input:nth-child(1):checked ~ .content {
  left: 0;
}
.tabs input:nth-child(2):checked ~ .content {
  left: -60vw;
}
.tabs input:nth-child(3):checked ~ .content {
  left: -120vw;
}
.tabs input:nth-child(4):checked ~ .content {
  left: -180vw;
}

/*CSS Personalizado*/
.contentBx {
  position: absolute;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2), -15px -15px 30px #e2e6e9;
}
.contentBx .avisoCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 600px;
  height: 150px;
}

.contentBx .avisoCont .avisoHead {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  gap: 10px;
  width: 100%;
  height: 30px;
}
.contentBx .avisoCont .avisoHead .avisoTitulo {
  text-align: start;
  font-size: 1.2em;
  font-weight: 500;
  width: 240px;
  height: 100%;
}
.contentBx .avisoCont .avisoHead .avisoBotones {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100px;
  height: 100%;
}
.contentBx .avisoCont .avisoHead .avisoBotones .btn {
  color: #6b6b6b;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
.contentBx .avisoCont .avisoHead .avisoBotones .btn:hover {
  color: #51b9c0;
}

.contentBx .avisoCont .avisoBody {
  overflow: auto;
  width: 100%;
  min-height: 90px;
}
.contentBx .avisoCont .avisoBody::-webkit-scrollbar {
  width: 5px;
}
.contentBx .avisoCont .avisoBody::-webkit-scrollbar-thumb {
  background: #51b9c0;
  border-radius: 5px;
}
/* Responsive */
@media (max-width: 991px) {
  .contentBx .avisoCont {
    width: 350px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    margin-bottom: 30px;
  }
  .contentBx .avisoCont {
    width: 350px;
    height: 150px;
  }
  /* Interpolacion necesaria */
  .content .box {
    width: 70vw;
  }
  .tabs input:nth-child(1):checked ~ .content {
    left: 0;
  }
  .tabs input:nth-child(2):checked ~ .content {
    left: -70vw;
  }
  .tabs input:nth-child(3):checked ~ .content {
    left: -140vw;
  }
  .tabs input:nth-child(4):checked ~ .content {
    left: -210vw;
  }
  @media (max-width: 375px) {
    .contentBx .avisoCont .avisoHead .avisoTitulo {
      text-align: center;
      height: 25px;
    }
    .contentBx .avisoCont .avisoHead .avisoBotones {
      height: 25px;
    }
    .contentBx .avisoCont .avisoHead {
      align-content: space-evenly;
      flex-direction: column;
      height: 70px;
      gap: 0;
    }
    .contentBx .avisoCont {
      justify-content: start;
    }
    .contentBx {
      padding: 5px 15px;
    }
    .contentBx .avisoCont {
      width: 180px;
      height: 280px;
    }
    .content .box {
      width: 75vw;
    }
    .tabs input:nth-child(1):checked ~ .content {
      left: 0;
    }
    .tabs input:nth-child(2):checked ~ .content {
      left: -75vw;
    }
    .tabs input:nth-child(3):checked ~ .content {
      left: -150vw;
    }
    .tabs input:nth-child(4):checked ~ .content {
      left: -225vw;
    }
  }
}
/* @media (max-width: 767px) {
  .container {
    width: 100%;
  }
} */

/* CSS by Franco */
.avisoTitulo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;
}

.avisoTitulo:hover {
  overflow: visible;
  white-space: normal;
}
