<h1>Carousel</h1>
<div class="container">
  <div class="card">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="bgTitle"></div>
        <div class="carousel-item active">
          <div class="align-items-center">
            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum sodales, metus ac fringilla suscipit, nulla massa
              mollis leo, ut maximus odio ex sit amet elit. Nullam varius ante
              orci, quis rhoncus velit tempor sit amet. Nulla lacinia, sem sed
              euismod dignissim, ante nibh iaculis
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="align-items-center">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum sodales, metus ac fringilla suscipit, nulla massa
              mollis leo, ut maximus odio ex sit amet elit. Nullam varius ante
              orci, quis rhoncus velit tempor sit amet. Nulla lacinia, sem sed
              euismod dignissim, ante nibh iaculis
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never s anyone else.</small
                >
              </div>
            </div>
          </div>
          <!--<button class="btn btn-next">Next</button>-->
        </div>
        <div class="carousel-item">
          <div class="align-items-center">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum sodales, metus ac fringilla suscipit, nulla massa
              mollis leo, ut maximus odio ex sit amet elit. Nullam varius ante
              orci, quis rhoncus velit tempor sit amet. Nulla lacinia, sem sed
              euismod dignissim, ante nibh iaculis
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>
            </div>
          </div>
          <!--<button class="btn btn-next">Next</button>-->
        </div>
      </div>
    </div>
    <button class="btn btn-next">Next</button>
  </div>
</div>
