<div class="contenido">
  <div class="tabs">
    <!-- Input radio para cada slider -->
    <input id="1" type="radio" name="slider" checked />
    <input id="2" type="radio" name="slider" />
    <input id="3" type="radio" name="slider" />
    <input id="4" type="radio" name="slider" />
    <input id="5" type="radio" name="slider" />
    <input id="6" type="radio" name="slider" />
    <div class="buttons">
      <!-- 
        let i = index establece una variable i que representa el índice del elemento actual en la colección.
      -->
      <label
        *ngFor="let aviso of coleccionAvisos; let i = index"
        (click)="changeSlide(i)"
      ></label>
    </div>
    <div class="content">
      <!-- Contenido de cada slider -->
      <div class="box web" *ngFor="let aviso of coleccionAvisos">
        <div class="contentBx">
          <div class="avisoCont">
            <!-- Cabecera del aviso -->
            <div class="avisoHead">
              <div class="avisoTitulo" [title]="aviso.titulo">
                {{ aviso.titulo }}
              </div>
              <!-- Botones para marcar como leído, eliminar, editar y borrar (visible solo para usuarios administradores) -->
              <div class="avisoBotones">
                <div class="btn btnLeido" title="Marcar Como Leído">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="26"
                    fill="currentColor"
                    class="bi bi-check2"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                    />
                  </svg>
                </div>
                <div class="btn btnBorrar" title="Eliminar">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="26"
                    height="26"
                    fill="currentColor"
                    class="bi bi-x"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                    />
                  </svg>
                </div>
                <!-- Botones de editar y borrar (visible solo para usuarios administradores) -->
                <div
                  *ngIf="usuario.credencial === 'adm'"
                  class="btn"
                  id="edit"
                  title="Editar"
                  data-bs-toggle="modal"
                  data-bs-target="#editarAviso"
                  (click)="mostrarEditar(aviso)"
                >
                  <span class="material-symbols-outlined"> edit </span>
                </div>
                <div
                  *ngIf="usuario.credencial === 'adm'"
                  class="btn"
                  id="delete"
                  title="Eliminar"
                  (click)="borrarAviso(aviso)"
                >
                  <span class="material-symbols-outlined"> delete </span>
                </div>
              </div>
            </div>
            <!-- Cuerpo del aviso -->
            <div class="avisoBody">
              {{ aviso.descripcion }}
            </div>
            <!-- Pie del aviso con imagen (si está disponible) -->
            <div class="avisoFooter">
              <img
                class="img-fluid rounded"
                *ngIf="aviso.imagenUrl"
                src="{{ aviso.imagenUrl }}"
                alt="imágen del aviso"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
