<div class="contenido">
  <div class="seccion1">
    <div class="seccion-title">
      <h1 class="titulo">Seccion 1</h1>
      
      <a href=""><span class="material-symbols-outlined"> more_vert </span></a>
    </div>
    <app-form-docs></app-form-docs>
    <div class="tabla">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Docs</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th id="id" scope="row">1</th>
            <td id="titulo">Tema 1 Analisis Matematico</td>
            <td id="descripcion">Funciones Cuadraticas</td>
            <td id="docs"><a href="">Documento</a></td>
            <td>
              <a href=""
                ><span class="material-symbols-outlined"> edit </span></a
              >
            </td>
            <td>
              <a href=""
                ><span class="material-symbols-outlined"> delete </span></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="seccion2">
    <div class="seccion-title">
      <h1 class="titulo">Seccion 2</h1>
      <a href=""><span class="material-symbols-outlined"> more_vert </span></a>
    </div>
    <app-form-docs></app-form-docs>
    <div class="tabla">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Docs</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th id="id" scope="row">1</th>
            <td id="titulo">Tema 1 Analisis Matematico</td>
            <td id="descripcion">Funciones Cuadraticas</td>
            <td id="docs"><a href="">Documento</a></td>
            <td>
              <a href=""
                ><span class="material-symbols-outlined"> edit </span></a
              >
            </td>
            <td>
              <a href=""
                ><span class="material-symbols-outlined"> delete </span></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
