@import "~bootstrap-icons/font/bootstrap-icons.css";

section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenido{
  padding-top: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
}