<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet" />
<div class="container" style="padding: 3rem"></div>
<section>
  <!-- Grid -->
  <div class="grid-container">
    <!-- Aquí se ajustaran las materias -->
    <div class="section-preferencias">
      <h1>Materias</h1>
      <!-- Select de las materias -->
      <div class="select-container">
        <select class="form-select" id="dropdown-materias">
          <option value="volvo">Orden alfábetico</option>
          <option value="saab">Último accedido</option>
          <option value="mercedes">Trabajos pendientes</option>
        </select>
      </div>
      <!-- Cambiar aspecto de las materias -->
      <div class="block-container">
        <button id="boton" class="btn btn-secondary" (click)="changeButton()">
          <i
            id="cuadricula"
            [class.bi-grid-fill]="isGridView"
            [class.bi-list]="!isGridView"
          ></i>
        </button>
      </div>
    </div>
    <div class="section-materias">
      <!-- Aquí se colocará las materias -->
      <div class="box">
        <i class="lni lni-spotify"></i>
        <h5>Spotify</h5>
        <h4>Spotify</h4>
      </div>
      <div class="box">
        <i class="lni lni-app-store"></i>
        <h5>App Store</h5>
        <h4>App Store</h4>
      </div>
      <div class="box">
        <i class="lni lni-behance"></i>
        <h5>Behance</h5>
        <h4>Behance</h4>
      </div>
      <div class="box">
        <i class="lni lni-chrome"></i>
        <h5>Chrome</h5>
        <h4>Chrome</h4>
      </div>
      <div class="box">
        <i class="lni lni-css3"></i>
        <h5>CSS3</h5>
        <h4>CSS3</h4>
      </div>
      <div class="box">
        <i class="lni lni-html5"></i>
        <h5>HTML5</h5>
        <h4>HTML5</h4>
      </div>
      <div class="box">
        <i class="lni lni-github"></i>
        <h5>GitHub</h5>
        <h4>GitHub</h4>
      </div>
      <div class="box">
        <i class="lni lni-paypal"></i>
        <h5>PayPal</h5>
        <h4>PayPal</h4>
      </div>
      <div class="box">
        <i class="lni lni-play-store"></i>
        <h5>Play Store</h5>
        <h4>Play Store</h4>
      </div>
    </div>
  </div>
</section>
