@import "~bootstrap-icons/font/bootstrap-icons.css";

.contenido {
  padding-top: 10rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

.row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}

/*! Cambios de Tomi*/
/*! le agregue padding para que las letras tengan un poco mas de espacio dentro de la card y no esten tan pegadas con el borde*/
.info {
  padding: 1rem;
}

.grid-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center !important;
  justify-content: center !important;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
  width: auto;
  margin: 50px;
}

.box {
  grid-template-rows: 100px 100px;
}

/* Title */
.materias {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 30px;
  margin-right: 1rem;
}

/* Select */
.form-select {
  width: 175px;
}

.custom-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Esto alinea el texto horizontalmente en el centro */
  height: 100%; /* Asegura que la columna ocupe toda la altura disponible */
}

/* Columnas */
.col-sm {
  display: inline-block;
  vertical-align: middle; /* Para alinear verticalmente los elementos */
  margin-right: 10px; /* Añade un margen para separar los elementos */
}

/* Button */
.bi-grid-fill {
  font-size: 20px;
}

.bi-list {
  font-size: 20px;
}

/* Div del Select y Button */
.d-flex {
  display: flex;
  justify-content: center;
}

#boton {
  position: absolute;
  right: 1;
  margin-left: 250px;
}

/*CSS CARD*/
.container__box {
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  height: auto;
  background: #fff;
  margin: 10px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.box:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
  background: var(--bg-color);
  z-index: 1;
}

.box p {
  font-size: 17px;
  color: #000000;
  margin-top: 31px;
  text-align: center;
}

.info h2 {
  line-height: 1;
}

.info p {
  font-size: 15px;
  vertical-align: top;
  text-align: justify;
  line-height: 0;
}

/* circulo del icon */
.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #f0ebeb4b;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 10px;
}

.quimica {
  --bg-color: #b8f9d3;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(97, 218, 255, 0.48);
}

.analisis {
  --bg-color: #f9bcb8;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(97, 218, 255, 0.48);
}

/* Responsive */
@media (max-width: 899px) {
  .materias {
    font-size: 20px;
  }

  .form-select {
    width: 135px;
    font-size: 10px;
  }

  #boton {
    position: absolute;
    right: 1;
    margin-left: 220px;
  }

  .bi-grid-fill {
    font-size: 15px;
  }

  .bi-list {
    font-size: 15px;
  }

  .box p {
    font-size: 11px;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .info h2 {
    font-size: 3vw;
    line-height: 0.5;
  }

  .info p {
    text-align: justify;
    font-size: 2vw;
    line-height: 0;
  }

  @media (max-width: 575px) {
    .form-select {
      margin-bottom: 10px;
    }

    #boton {
      margin-bottom: 15px;
    }

    .bi-grid-fill {
      font-size: 15px;
    }
    .bi-list {
      font-size: 15px;
    }
    .circle {
      width: 50px;
      height: 50px;
    }
    .svg {
      width: 40px;
      height: 40px;
    }
  }
}
