<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet" />
<div class="container" style="padding: 3rem"></div>
<section>
  <!-- Grid -->
  <div class="title" class="grid-container">
    <div class="title-container">
      <h1>Materias</h1>
    </div>
    <!-- Aquí se ajustaran las materias -->
    <div class="section-preferencias">
      <!-- Select de las materias -->
      <div class="select-container">
        <select class="form-select" id="dropdown-materias">
          <option value="volvo">Orden alfábetico</option>
          <option value="saab">Último accedido</option>
          <option value="mercedes">Trabajos pendientes</option>
        </select>
      </div>
      <!-- Cambiar aspecto de las materias -->
      <div class="block-container">
        <button id="boton" class="btn btn-secondary" (click)="changeButton()">
          <i
            id="cuadricula"
            [class.bi-grid-fill]="isGridView"
            [class.bi-list]="!isGridView"
          ></i>
        </button>
      </div>
    </div>
    <div class="section-materias">
      <!-- Aquí se colocará las materias -->

      <div class="box quimica">
        <div class="circle">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="71px"
            height="76px"
            x="0px"
            y="0px"
            viewBox="0 0 42 150"
            style="enable-background: new 0 0 42 150"
            xml:space="preserve"
          >
            <style type="text/css">
              .st0 {
                fill: #ffffff;
              }
              .st51 {
                fill: #5cffec;
              }
              .st52 {
                fill: #6b92ed;
              }
              .st53 {
                fill: #a398e7;
              }
              .st54 {
                fill: #7f75bd;
              }
              .st55 {
                fill: #ff564c;
              }
              .st56 {
                fill: #8a81c4;
              }
              .st57 {
                fill: #585082;
              }
              .st58 {
                fill: #339cee;
              }
              .st59 {
                fill: #cfcfcf;
              }
              .st60 {
                fill: #3e314d;
              }
              .st61 {
                fill: #cf170e;
              }
              .st62 {
                fill: #ffd49b;
              }
              .st63 {
                fill: #e0d2c4;
              }
              .st64 {
                fill: #e3bd8a;
              }
              .st65 {
                fill: #a39287;
              }
              .st66 {
                fill: #3f3e40;
              }
              .st67 {
                fill: #64c2e3;
              }
              .st68 {
                fill: #16c4c1;
              }
              .st69 {
                fill: #48484a;
              }
              .st70 {
                fill: #6be0eb;
              }
              .st71 {
                fill: #686a6b;
              }
              .st72 {
                fill: #34a3c9;
              }
              .st73 {
                fill: #7a7c7d;
              }
              .st74 {
                fill: #ed3f45;
              }
              .st75 {
                fill: #242424;
              }
              .st76 {
                fill: #d9f1f4;
              }
              .st77 {
                fill: #6b5c4e;
              }
              .st78 {
                fill: #ebffff;
              }
              .st79 {
                fill: #9bbeca;
              }
              .st80 {
                fill: #564a3e;
              }
              .st81 {
                fill: #b8d9e2;
              }
              .st82 {
                fill: #645649;
              }
              .st83 {
                fill: #424244;
              }
              .st84 {
                fill: #766556;
              }
              .st85 {
                fill: #353738;
              }
              .st86 {
                fill: #2eadff;
              }
              .st87 {
                fill: #259ce8;
              }
              .st88 {
                fill: #b9feff;
              }
              .st89 {
                fill: #7ee6e8;
              }
              .st90 {
                fill: #1485cc;
              }
              .st91 {
                fill: #97f5f7;
              }
              .st92 {
                fill: #333333;
              }
              .st93 {
                fill: #e8dec5;
              }
              .st94 {
                fill: #1da87b;
              }
              .st95 {
                fill: #f0ece2;
              }
              .st96 {
                fill: #34d09c;
              }
              .st97 {
                fill: #53f5d1;
              }
            </style>
            <g>
              <path
                class="st93"
                d="M41.999,75.001h-42v-54c0-11.6,9.4-21,21-21c5.8,0,11.05,2.35,14.85,6.15c3.8,3.8,6.15,9.05,6.15,14.85
           V75.001z"
              />
              <path
                class="st94"
                d="M-0.001,75.001h42v54c0,11.6-9.4,21-21,21s-21-9.4-21-21V75.001z"
              />
              <path
                class="st95"
                d="M20.999,0.001c-11.6,0-21,9.4-21,21v54h21V0.001z"
              />
              <path
                class="st96"
                d="M20.999,75.001h-21v54c0,11.6,9.4,21,21,21V75.001z"
              />
              <path
                class="st97"
                d="M14.999,75.001v52.5c0,1.381-1.119,2.5-2.5,2.5h0c-1.381,0-2.5-1.119-2.5-2.5v-52.5H14.999z"
              />
              <path
                class="st0"
                d="M9.999,75.001v-52.5c0-1.381,1.119-2.5,2.5-2.5h0c1.381,0,2.5,1.119,2.5,2.5v52.5H9.999z"
              />
            </g>
          </svg>
        </div>
        <p>Química</p>
      </div>

      <div class="box analisis">
        <div class="circle">
          <svg
            version="1.1"
            id="Analisis"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="64px"
            height="72px"
            viewBox="0 0 120.007 150.002"
            style="enable-background: new 0 0 120.007 150.002"
            xml:space="preserve"
          >
            <style type="text/css">
              .st123105 {
                display: none;
                fill: none;
                stroke: #ffffff;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-miterlimit: 10;
              }
              .st123106 {
                fill: #d5d2e4;
              }
              .st123107 {
                fill: #43324e;
              }
              .st123109 {
                fill: #ffffff;
              }
              .st1234 {
                fill: #eceded;
              }
              .st1235 {
                fill: #e1e2e3;
              }
              .st1236 {
                fill: url(#SVGID_1_);
              }
              .st1237 {
                fill: url(#SVGID_2_);
              }
              .st1238 {
                fill: #414042;
              }
              .st1239 {
                fill: #96806a;
              }
              .st12310 {
                fill: #eddfc7;
              }
              .st1231-1 {
                fill: #594a42;
              }
              .st1231-2 {
                fill: #e81c24;
              }
              .st1231-3 {
                fill: #00adff;
              }
              .st1231-4 {
                fill: #ffdfd7;
              }
              .st1231-5 {
                fill: #a63e45;
              }
              .st1231-6 {
                fill: #328be7;
              }
              .st1231-7 {
                fill: #e3a11b;
              }
              .st1231-8 {
                fill: #58595b;
              }
              .st1231-9 {
                fill: #ff8ba5;
              }
              .st1232-0 {
                fill: #eff0f0;
              }
              .st1232-1 {
                fill: #978278;
              }
              .st1232-2 {
                fill: #ced0d1;
              }
              .st1232-3 {
                fill: #ffc877;
              }
              .st1232-4 {
                fill: #6866a4;
              }
              .st1232-5 {
                fill: #a0deff;
              }
              .st1232-6 {
                fill: #ff4e00;
              }
              .st1232-7 {
                fill: #0068a8;
              }
              .st1232-8 {
                fill: #21405d;
              }
              .st1232-9 {
                fill: #991f63;
              }
              .st1233-0 {
                fill: #881f63;
              }
              .st1233-1 {
                fill: #bf956c;
              }
              .st1233-2 {
                fill: #ae865f;
              }
              .st1233-3 {
                fill: #e0312b;
              }
              .st1233-4 {
                fill: #e6e6e6;
              }
              .st1233-5 {
                fill: #b4b6b7;
              }
              .st1233-6 {
                fill: #bd2c25;
              }
              .st1233-7 {
                fill: #2f2e30;
              }
              .st1233-8 {
                fill: #231f20;
              }
              .st1233-9 {
                fill: #ffcded;
              }
              .st1234-0 {
                fill: #ffbbed;
              }
              .st1234-1 {
                fill: #ffe98c;
              }
              .st1234-2 {
                fill: #695e98;
              }
              .st1234-3 {
                fill: #cccecf;
              }
              .st1234-4 {
                fill: #c5625d;
              }
              .st1234-5 {
                fill: #ffacae;
              }
              .st1234-6 {
                fill: #414141;
              }
              .st1234-7 {
                fill: #006ed9;
              }
              .st1234-8 {
                fill: #38a1f2;
              }
              .st1234-9 {
                fill: #47a9f3;
              }
              .st1235-0 {
                fill: #80bfcf;
              }
              .st1235-1 {
                fill: #8dcddc;
              }
              .st1235-2 {
                fill: #2498f0;
              }
              .st1235-3 {
                fill: #2b398b;
              }
              .st1235-4 {
                fill: #bdb096;
              }
              .st1235-5 {
                fill: #a39983;
              }
              .st1235-6 {
                fill: #ff868a;
              }
              .st1235-7 {
                fill: #e97279;
              }
              .st1235-8 {
                fill: #e75c54;
              }
              .st1235-9 {
                fill: #726658;
              }
              .st1236-0 {
                fill: #d2dcd8;
              }
              .st1236-1 {
                fill: #ffc36b;
              }
              .st1236-2 {
                fill: #e1f3f4;
              }
              .st1236-3 {
                fill: #ffa54c;
              }
              .st1236-4 {
                fill: #ed7f3a;
              }
              .st1236-5 {
                fill: #e79fa3;
              }
              .st1236-6 {
                fill: #e5e6e7;
              }
              .st1236-7 {
                fill: #b5dce9;
              }
              .st1236-8 {
                fill: #95d3ef;
              }
              .st1236-9 {
                fill: #808080;
              }
              .st1237-0 {
                fill: #ffb5b2;
              }
              .st1237-1 {
                fill: #b91e2d;
              }
              .st1237-2 {
                fill: #d34f4f;
              }
              .st1237-3 {
                fill: #f90000;
              }
              .st1237-4 {
                fill: #783737;
              }
              .st1237-5 {
                fill: #349dff;
              }
              .st1237-6 {
                fill: #228fff;
              }
              .st1237-7 {
                fill: #ff0000;
              }
              .st1237-8 {
                fill: #005bee;
              }
              .st1237-9 {
                fill: #ffe859;
              }
              .st1238-0 {
                fill: #fc4054;
              }
              .st1238-1 {
                fill: #fffa7a;
              }
              .st1238-2 {
                fill: #a47c50;
              }
              .st1238-3 {
                fill: #e7d0c7;
              }
              .st1238-4 {
                fill: #e43442;
              }
              .st1238-5 {
                fill: #e7cc5f;
              }
              .st1238-6 {
                fill: #94653e;
              }
              .st1238-7 {
                fill: #ce2a34;
              }
              .st1238-8 {
                fill: #d1a64a;
              }
              .st1238-9 {
                fill: #7b4f3a;
              }
              .st1239-0 {
                fill: #ffdf36;
              }
              .st1239-1 {
                fill: #ffd319;
              }
              .st1239-2 {
                fill: #ac322f;
              }
              .st1239-3 {
                fill: #e4c1c1;
              }
              .st1239-4 {
                fill: #f6e6c4;
              }
              .st1239-5 {
                fill: #6b503f;
              }
              .st1239-6 {
                fill: #5a362a;
              }
              .st1239-7 {
                fill: #75483b;
              }
              .st1239-8 {
                fill: #82614d;
              }
              .st1239-9 {
                fill: #fff1e0;
              }
              .st1231-00 {
                fill: #4f2f23;
              }
              .st1231-01 {
                fill: #5c4536;
              }
              .st1231-02 {
                fill: #cec3a8;
              }
              .st1231-03 {
                fill: #ff0000;
              }
              .st1231-04 {
                fill: #463022;
              }
            </style>
            <g>
              <path
                class="st3"
                d="M104.354,97.225l9.65-53.224H87.284l0,0.003H69.282c1.699-10.615,3.455-20.148,5.866-27.439
           c3.408-10.295,8.76-15.452,16.854-15.964V0.581c-2.251-0.389-4.554-0.583-6.918-0.583c-16.547,0-32.082,8.995-37.802,28.551
           c-1.407,4.801-2.657,10.002-3.833,15.456h-18.68v2h18.25c-8.463,40.221-13.298,93.072-43.015,102.612c0,0,13.17,3.592,23.967-0.798
           c33.04-13.462,38.989-63.962,44.992-101.814h17.991l-8.336,49.808c-1.709,10.54,6.365,19.372,17.11,20.149
           c13.969,1.003,24.284-5.25,24.284-5.25C101.621,112.012,104.354,97.225,104.354,97.225z"
              />
              <path
                class="st3"
                d="M86.005,20.004c0,8.279,6.713,14.992,15.002,14.992c8.289,0,15.002-6.713,15.002-14.992
           c0-6.519-4.145-12.055-9.947-14.122c-0.01-0.01-0.021-0.02-0.041-0.02c-1.566-0.553-3.254-0.86-5.014-0.86
           C92.719,5.002,86.005,11.715,86.005,20.004z"
              />
            </g>
          </svg>
        </div>
        <p>Analisis Matematico II</p>
      </div>
    </div>
  </div>
</section>
