<div class="contenido">
  <div class="row">
    <div class="col-md-8">
      <h1>Material</h1>
      <div>
        <app-form-mat></app-form-mat>
      </div>
      <div style="margin-bottom: 1rem;">
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>

    </div>
    <div class="col-md-4" id="div-calendario">
      <app-calendary></app-calendary>
    </div>
  </div>
</div>
