<!-- Perfil -->
<div class="componente">
  <div class="contenido">
    <div class="perfil">
      <div class="seccion informacion">
        <div class="datos">
          <div class="imgBx">
            <div class="imgBorder">
              <img src="../../../../../../../assets/perfil.jpg" alt="" />
            </div>
          </div>
          <div class="datosBx">
            <ul>
              <li><b>Profesor</b></li>
              <li>Usuario: Cachurmino</li>
              <li>Nombre: Ignacio</li>
              <li>Apellido: Cappellini</li>
              <li>Correo: nachocappellinigmail.com</li>
            </ul>
          </div>
        </div>
        <div class="estadisticas">
          <div class="est">Materias Importantes</div>
          <div class="est datosEst">
            <div class="contEst">
              <div class="estBarra estAlta" title="Análisis II"></div>
            </div>
            <div class="contEst">
              <div class="estBarra estReciente" title="COE"></div>
            </div>
            <div class="contEst">
              <div class="estBarra estBaja" title="Relaciones Humanas"></div>
            </div>
          </div>
          <div class="est leyendaEst">
            <div class="leyenda alta" title="Analisis II">Alta</div>
            <div class="leyenda reciente" title="COE">Reciente</div>
            <div class="leyenda baja" title="Relaciones Humanas">Baja</div>
          </div>
        </div>
      </div>
      <div class="seccion personal">
        <div class="datosPer">
          <table>
            <tr class="info">
              <td class="datosInfo">Nombre: Ignacio</td>
              <td class="datosInfo">Apellido: Cappellini</td>
              <td class="datosInfo">Correo: nachocappellini@gmail.com</td>
            </tr>
            <tr class="info">
              <td>
                <input type="text" placeholder="Ignacio" required disabled />
              </td>
              <td>
                <input type="text" placeholder="Cappellini" required />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="nachocappellini@gmail.com"
                  required
                  disabled
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="acciones">
                  <button class="boton btnAplicar" disabled>
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button class="boton btnCancelar" disabled>
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button class="boton btnEditar">
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
              <td>
                <div class="acciones">
                  <button class="boton btnAplicar">
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button class="boton btnCancelar">
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button class="boton btnEditar" disabled>
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
              <td>
                <div class="acciones">
                  <button class="boton btnAplicar" disabled>
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button class="boton btnCancelar" disabled>
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button class="boton btnEditar">
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="seccion cuenta">
        <div class="datosCuen">
          <table>
            <tr class="info">
              <td class="datosInfo">Usuario: Cachurmino</td>
              <td class="datosInfo">Contraseña: 123456</td>
            </tr>
            <tr class="info">
              <td>
                <input type="text" placeholder="Cachurmino" required disabled />
              </td>
              <td>
                <input type="text" placeholder="123456" required />
              </td>
            </tr>
            <tr>
              <td>
                <div class="acciones">
                  <button class="boton btnAplicar" disabled>
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button class="boton btnCancelar" disabled>
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button class="boton btnEditar">
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
              <td>
                <div class="acciones">
                  <button class="boton btnAplicar">
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button class="boton btnCancelar">
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button class="boton btnEditar" disabled>
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="preferencias">Preferencias</div>
  </div>
</div>
