<!-- Perfil -->
<div class="componente">
  <div class="contenido">
    <div class="perfil">
      <div class="seccion informacion">
        <div class="datos">
          <div class="imgBx">
            <div class="imgBorder">
              <img src="../../../../../../../assets/perfil.png" alt="" />
            </div>
          </div>
          <div class="datosBx">
            <ul>
              <li><b>Rol: Profesor</b></li>
              <li>Usuario: Cachurmino</li>
              <li>Nombre: Ignacio</li>
              <li>Apellido: Cappellini</li>
            </ul>
          </div>
        </div>
        <div class="estadisticas">
          <div class="est">Materias Importantes</div>
          <div class="est datosEst">
            <div class="contEst">
              <div class="estBarra estAlta" title="Análisis II"></div>
            </div>
            <div class="contEst">
              <div class="estBarra estReciente" title="COE"></div>
            </div>
            <div class="contEst">
              <div class="estBarra estBaja" title="Relaciones Humanas"></div>
            </div>
          </div>
          <div class="est leyendaEst">
            <div class="leyenda alta" title="Analisis II">Alta</div>
            <div class="leyenda reciente" title="COE">Reciente</div>
            <div class="leyenda baja" title="Relaciones Humanas">Baja</div>
          </div>
        </div>
      </div>
      <div class="seccion personal">
        <div class="datosPer">
          <table>
            <tr class="info">
              <td class="datosInfo">Usuario: Cachurmino</td>
              <td class="datosInfo">Nombre: Ignacio</td>
              <td class="datosInfo">Apellido: Cappellini</td>
            </tr>
            <tr class="info">
              <td>
                <input
                  type="text"
                  placeholder="Cachurmino"
                  id="inputUsuario"
                  required
                  disabled
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="Ignacio"
                  id="inputNombre"
                  required
                  disabled
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="Cappellini"
                  id="inputApellido"
                  required
                  disabled
                />
              </td>
            </tr>
            <tr>
              <td>
                <div class="acciones">
                  <button
                    class="boton btnAplicar"
                    id="btnAplicarUsuario"
                    disabled
                  >
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button
                    class="boton btnCancelar"
                    id="btnCancelarUsuario"
                    (click)="editarUsuario()"
                    disabled
                  >
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button
                    class="boton btnEditar"
                    id="btnEditarUsuario"
                    (click)="editarUsuario()"
                  >
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
              <td>
                <div class="acciones">
                  <button
                    class="boton btnAplicar"
                    id="btnAplicarNombre"
                    disabled
                  >
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button
                    class="boton btnCancelar"
                    id="btnCancelarNombre"
                    (click)="editarNombre()"
                    disabled
                  >
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button
                    class="boton btnEditar"
                    id="btnEditarNombre"
                    (click)="editarNombre()"
                  >
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
              <td>
                <div class="acciones">
                  <button
                    class="boton btnAplicar"
                    id="btnAplicarApellido"
                    disabled
                  >
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button
                    class="boton btnCancelar"
                    id="btnCancelarApellido"
                    (click)="editarApellido()"
                    disabled
                  >
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button
                    class="boton btnEditar"
                    id="btnEditarApellido"
                    (click)="editarApellido()"
                  >
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- <div class="seccion cuenta">
        <div class="datosCuen">
          <table>
            <tr class="info">
              <td class="datosInfo">Usuario: Cachurmino</td>
              <td class="datosInfo">Contraseña: 123456</td>
            </tr>
            <tr class="info">
              <td>
                <input type="text" placeholder="Cachurmino" required disabled />
              </td>
              <td>
                <input type="text" placeholder="123456" required />
              </td>
            </tr>
            <tr>
              <td>
                <div class="acciones">
                  <button class="boton btnAplicar" disabled>
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button class="boton btnCancelar" disabled>
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button class="boton btnEditar">
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
              <td>
                <div class="acciones">
                  <button class="boton btnAplicar">
                    <span class="material-symbols-outlined">
                      check_circle
                    </span>
                  </button>

                  <button class="boton btnCancelar">
                    <span class="material-symbols-outlined"> cancel </span>
                  </button>

                  <button class="boton btnEditar" disabled>
                    <span class="material-symbols-outlined"> edit_note </span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div> -->
    </div>
    <div class="preferencias"></div>
  </div>
</div>
