@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.lista {
  display: flex;
  gap: 20px;
}
ul {
  padding-left: 0;
  padding-bottom: 10px;
}
.contenido {
  padding-left: 4rem;
  padding-top: 8rem;
  padding-right: 4rem;
}
td {
  padding: 20px;
  background: #e2e6e9;
  border-radius: 20px;
  cursor: pointer;
}
a {
  transition: 0.5s;
  color: #43a5f6;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
td:hover {
  transition: 0.5s;
  background: #43a5f6;
}
td:hover a {
  transition: 0.5s;
  color: #fff;
}
