<div class="contenido">
  <h1>Bienvenido Administrador</h1>
  <div class="row">
    <div class="col-md-8">
      <a class="regis" routerLink="/register"
        ><span id="icon" class="material-symbols-outlined"> person_add </span>Agregar
        Usuario</a
      >
      <app-avisos></app-avisos>
      <!--!FINContenido-->
    </div>
    <div id="barralateral" class="col-md-4">
      <!--*Barra Lateral-->
      <app-calendary></app-calendary>
      <!--*FINBarra Lateral-->
    </div>
  </div>
</div>
