<div class="contenido">
  <ul>
    <tr class="lista">
      <td>
        <a class="regis" routerLink="/register">Agregar Usuario</a>
      </td>
      <td>
        <a class="regis" routerLink="/lista">Lista de Usuarios</a>
      </td>
    </tr>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <!-- Contenido -->
      <app-avisos></app-avisos>
      <!--!FINContenido-->
    </div>
    <div id="barralateral" class="col-md-4">
      <!--*Barra Lateral-->
      <app-calendary></app-calendary>
      <!--*FINBarra Lateral-->
    </div>
  </div>
</div>
