<div class="contenido">
  <ul>
    <tr class="lista">
      <td class="td" routerLink="/register">
        <a class="regis">
          <span class="material-symbols-outlined"> person_add </span>
          Agregar Usuario</a
        >
      </td>
      <td class="td" routerLink="/lista">
        <a class="regis">
          <span class="material-symbols-outlined"> contract </span>
          Lista de Usuarios
        </a>
      </td>
    </tr>
  </ul>
  <div class="row">
    <div class="col-md-8">
      <!-- Contenido -->
      <app-avisos></app-avisos>
      <!--!FINContenido-->
    </div>
    <div id="barralateral" class="col-md-4">
      <!--*Barra Lateral-->
      <app-calendary (dayClicked)="openModal($event)"></app-calendary>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Dia seleccionado: {{ selectDay }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!--Contenido Modal-->
              <form class="was-validated" [formGroup]="trabajo">
                <div class="mb-3">
                  <label for="validationInput" class="form-label">Titulo</label>
                  <input
                    class="form-control"
                    id="validationInput"
                    placeholder="Material 1"
                    formControlName="titulo"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="comeMat">Descripcion</label>
                  <textarea
                    id="comMat"
                    type="radio"
                    class="form-control"
                    name="Comentario"
                    rows="1"
                    formControlName="descripcion"
                    required
                  >
                  </textarea>
                </div>
                <div class="mb-3">
                  <label for="comeMat">Archivo</label>
                  <input
                    formControlName="docs"
                    type="file"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="comeMat">Fecha de Entrega</label>
                  <input type="date" class="form-control" formControlName="fecha" required>
                </div>
              </form>
              <!--FIN Contenido-->
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" (click)="agregarTrabajo($event)" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--*FINBarra Lateral-->
    </div>
  </div>
</div>
