.container {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  width: 20rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  & #iconperson {
    font-size: 200px;
    display: flex;
    justify-content: center;
  }
}
.formulario {
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#credenciales{
  margin-left: auto;
  margin-right: auto;
}
#top{
  margin-top: 3rem;
}