<div class="container">
  <div id="top" class="row">
    <h1><b>REGISTRATE</b></h1>
    <i id="iconperson" class="material-icons">person</i>
  </div>
</div>
<div class="formulario">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        name="nombre"
        [(ngModel)]="usuarios.nombre"
      />
    </div>
    <div class="col-md-6">
      <label for="surname" class="form-label">Apellido</label>
      <input
        type="text"
        class="form-control"
        id="surname"
        required
        name="apellido"
        [(ngModel)]="usuarios.apellido"
      />
    </div>
    
    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        name="email"
        [(ngModel)]="usuarios.email"
      />
    </div>
  
    <div class="col-md-6">
      <label for="password" class="form-label">Contraseña</label>
      <input
        [(ngModel)]="usuarios.password"
        type="text"
        class="form-control"
        id="password"
        [type]="hide ? 'password' : 'text'"
        #input
        minlength="6"
        name="password"
      />
      <p>Minimo:6/{{ input.value.length }}</p>
    </div>
    <div class="col-md-6">
      <label for="dni" class="form-label">DNI</label>
      <input
        type="text"
        class="form-control"
        id="dni"
        required
        [(ngModel)]="usuarios.dni"
        name="dni"
      />
    </div>
    <div id="credenciales" class="col-md-4">
      <label for="credencial" class="form-label">Credencial</label>
      <select
        id="credencial"
        class="form-select"
        required
        [(ngModel)]="usuarios.credencial"
        name="credencial"
      >
        <option value="adm" >Admin</option>
        <option value="doc" >Profesor</option>
        <option value="est" >Estudiante</option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" (click)="registrarse()" class="btn btn-primary">
        Registrarse
      </button>
    </div>
  </form>
</div>
