.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  .container{
      display: flex;
      justify-content: center;
      width: 20rem;
      text-align: center;
      & #iconperson{
          font-size: 200px; 
          display: flex; 
          justify-content: center;
      }
  }
  