<div id="body">
  <div class="container">
    <div class="blueBg">
      <div class="box signin">
        <h2>¿ Recordaste tu Contraseña ?</h2>
        <button class="signinBtn" (click)="activeSignin()">
          Iniciar Sesión
        </button>
      </div>
      <div class="box signup">
        <h2>¿ Olvidaste tu Contraseña ?</h2>
        <button class="signupBtn" (click)="activeSignup()">Recuperar</button>
      </div>
    </div>
    <div class="formBx" id="formBx">
      <div class="form signinForm">
        <form>
          <h3>Iniciar Sesión</h3>
          <input type="text" placeholder="Usuario" />
          <input type="password" placeholder="Contraseña" />
          <input type="submit" value="Iniciar Sesión" />
        </form>
      </div>

      <div class="form signupForm">
        <form>
          <h3>Recuperar</h3>
          <input type="text" placeholder="Usuario" />
          <input type="text" placeholder="Correo Electrónico" />
          <input type="submit" value="Recuperar" />
        </form>
      </div>
    </div>
  </div>
</div>
