<div id="body">
  <div class="container">
    <div class="blueBg">
      <div class="box signin">
        <h2>¿ Recordaste tu Contraseña ?</h2>
        <button class="signinBtn" (click)="activeSignin()">
          Iniciar Sesión
        </button>
      </div>
      <div class="box signup">
        <h2>¿ Olvidaste tu Contraseña ?</h2>
        <button class="signupBtn" (click)="activeSignup()">Recuperar</button>
      </div>
    </div>
    <div class="formBx" id="formBx">
      <div class="form signinForm">
        <!-- Formulario -->
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h3>Iniciar Sesión</h3>
          <!-- Correo Eléctronico -->
          <input
            formControlName="email"
            placeholder="Correo Electrónico"
            type="text"
          />
          <!-- Advertencia de Correo Eléctronico -->
          <div
            class="adv"
            *ngIf="
              loginForm.controls.email.invalid &&
              loginForm.controls.email.touched
            "
          >
            <small class="text-danger"
              >Por favor, introduce un correo electrónico válido.</small
            >
          </div>
          <!-- Contraseña -->
          <input
            formControlName="password"
            placeholder="Contraseña"
            type="password"
          />
          <!-- Advertencia de Contraseña -->
          <div
            class="adv"
            *ngIf="
              loginForm.controls.password.invalid &&
              loginForm.controls.password.touched
            "
          >
            <small class="text-danger">La contraseña es requerida.</small>
          </div>

          <div class="row">
            <input
              class="col"
              type="submit"
              (click)="login()"
              value="Iniciar Sesión"
            />
            <input
              id="volver"
              class="col"
              type="submit"
              (click)="back()"
              value="Volver"
            />
          </div>
        </form>
      </div>
      <div class="form signupForm">
        <form (submit)="resetPassword()">
          <h3>Recuperar</h3>
          <input
            [(ngModel)]="email"
            name="email"
            id="email"
            type="text"
            placeholder="Correo Electrónico"
            required
          />
          <input type="submit" value="Recuperar" />
        </form>
      </div>
    </div>
  </div>
</div>
