<div id="body">
  <div class="container">
    <div class="blueBg">
      <div class="box signin">
        <h2>¿ Recordaste tu Contraseña ?</h2>
        <button class="signinBtn" (click)="activeSignin()">
          Iniciar Sesión
        </button>
      </div>
      <div class="box signup">
        <h2>¿ Olvidaste tu Contraseña ?</h2>
        <button class="signupBtn" (click)="activeSignup()">Recuperar</button>
      </div>
    </div>
    <div class="formBx" id="formBx">
      <div class="form signinForm">
        <form>
          <h3>Iniciar Sesión</h3>
          <input
            type="text"
            [(ngModel)]="usuarios.email"
            name="email"
            placeholder="Usuario"
          />
          <input
            type="password"
            [(ngModel)]="usuarios.password"
            name="password"
            placeholder="Contraseña"
          />
          <div class="row">
            <input
              class="col"
              type="submit"
              (click)="login()"
              value="Iniciar Sesión"
            />
            <input
              id="volver"
              class="col"
              type="submit"
              (click)="back()"
              value="Volver"
            />
          </div>
        </form>
      </div>
      <div class="form signupForm">
        <form (submit)="resetPassword()">
          <h3>Recuperar</h3>
          <input [(ngModel)]="email" name="email" id="email" type="text" placeholder="Correo Electrónico" required/>
          <input type="submit" value="Recuperar" />
        </form>
      </div>
    </div>
  </div>
</div>
