<div class="navbar">
  <!--NavBar-->
  <header *ngIf="shouldShowNavbar()">
    <!--Logo-->
    <a routerLink="/inicio" class="logo">
      <div class="logoBody">
        <img src="../../../assets/logo colegio.png" alt="Logo de la escuela" />
      </div>
    </a>
    <!--Boton responsive-->
    <div class="menuToggle" (click)="claseActive()"></div>
    <nav>
      <!--Lista de botones-->
      <ul>
        <li>
          <a routerLink="/inicio"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
          </svg></a>
        </li>
        <li>
          <a routerLink="/nosotros"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg></a>
        </li>
         <li>
          <a>Dropdown <b>▼</b></a>
          <ul>
            <li><a routerLink="/register">Register</a></li>
            <li>
              <a>Home <b>+</b></a>
              <ul>
                <li><a routerLink="admin">Admin</a></li>
                <li><a routerLink="docente">Docentes</a></li>
                <li><a routerLink="estudiante">Alumnos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/login"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </svg></a>
        </li>
      </ul>
    </nav>
  </header>
</div>
