<mat-toolbar color="primary">
  <img (click)="returnhome()" src="../../../assets/logo colegio.png" alt="LOGO CET 30" />
  <span class="example-spacer"></span>
  <div class="container">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>info</mat-icon>
    </button>

    <button
      routerLink="/login"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>{{icon}}</mat-icon>
    </button>
  </div>
</mat-toolbar>
