<div class="body">
  <header>
    <div class="overlay">
      <h1>C.E.T Nº. 30</h1>
      <h3><em>Institución</em></h3>
      <p>
        <strong>
          La escuela C.E.T Nº 30 de Cipolletti, Río Negro. Es un centro de
          educación técnica pública que ofrece estudios de educación tecnica
          secundaria con titulo en técnico en programación. <br />
          Ofrecemos enseñanza orientada a la informática, especificamente
          desarrollo web, y cuenta con talleres de computación, ajuste,
          carpinteria, robótica, etc. <br />
          Su escudo representa los valores de la educación técnica, la ciencia,
          la tecnología y la innovación. <br
        /></strong>
      </p>
      <br />
      <a
        href="https://drive.google.com/drive/folders/1CqqP-art4SDiSj06W96zH1JkIDAhl69c"
        target="_blank"
      >
        <button>VER PLAN DE ESTUDIO</button>
      </a>
    </div>
  </header>
</div>
<div class="car"></div>
