<div class="body">
  <div class="container">
    <div class="card">
      <div class="image">
        <img
          src="../../../../../assets/logo colegio.png"
        />
      </div>
      <div class="content">
        <h3>Plataforma Educativa</h3>
        <p>
          Esta hecha con el fin de tener una comunicacion activa y virtual de material aulico, como trabajos practicos, material teorico, aviso de evaluaciones o la inasistencia de algun profesor.
        </p>
      </div>
    </div>
  </div>
</div>
