@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"); /*Fuente Poppins*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

header {
  background: url("https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/imagenes%2Fsextoprimera.jpg?alt=media&token=e49e21c9-e548-44df-892d-b550828ff700");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #057aff69 10%, #057aff69 100%);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  margin-bottom: 30px;
}

h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
  cursor: pointer;
}
.carousel .carousel-control-prev {
  position: absolute;
  left: -30%;
  z-index: 1;
  color: #0a0a0a !important;
  font-weight: bold;
}

.carousel .carousel-control-next {
  position: absolute;
  right: -30%;
  z-index: 1;
  color: #0a0a0a !important;
  font-weight: bold;
}
@media (max-width: 768px) {
  .carousel .carousel-control-prev {
    left: 0%;
    color: #ffffff !important;
  }

  .carousel .carousel-control-next {
    right: 0%;
    color: #ffffff !important;
  }
}
  