.contenido {
  padding-top: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

label,
input {
  display: block;
  text-align: center;
}

label{
  margin-top: 1rem
}

.add {
  display: flex;
  justify-content: center;
}

.material {
  margin-top: 15px;
  margin-bottom: 15px;
}
