<section>
  <!-- Grid -->
  <div class="grid-container" style="margin-right: auto; margin-left: auto">
    <div class="title-container">
      <div class="container">
        <div class="row">
          <div class="col-sm custom-center">
            <h1 class="materias">Materias</h1>
          </div>
          <div class="col-sm">
            <div class="d-flex custom-center">
              <select class="form-select">
                <option value="1">Orden alfábetico</option>
                <option value="2">Último accedido</option>
                <option value="3">Fecha de entrega</option>
              </select>
              <button
                id="boton"
                class="btn btn-secondary"
                (click)="changeButton()"
              >
                <i
                  id="cuadricula"
                  [class.bi-grid-fill]="isGridView"
                  [class.bi-list]="!isGridView"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="section-materias">
        <div class="box analisis" routerLink="/materia">
          <div class="circle">
            <span class="material-symbols-outlined"> function </span>
          </div>
          <div class="info">
            <h2>Analisis Matemático I</h2>
          </div>
        </div>
        <div class="box quimica" routerLink="/materia">
          <div class="circle">
            <span class="material-symbols-outlined"> co2 </span>
          </div>
          <div class="info">
            <h2>Química</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
