<section>
  <!-- Grid -->
  <div class="grid-container" style="margin-right: auto; margin-left: auto">
    <div class="title-container">
      <div class="container">
        <div class="row">
          <div class="col-sm custom-center">
            <h1 class="materias">Materias</h1>
          </div>
          <div class="col-sm">
            <!-- Select Materias -->
            <div class="d-flex custom-center">
              <select class="form-select">
                <option value="1">Orden alfábetico (A-Z)</option>
                <option value="2">Orden alfábetico (Z-A)</option>
              </select>
              <!-- Botón de cambio de estilos -->
              <button
                id="boton"
                class="btn btn-secondary"
                (click)="changeButton()"
              >
                <i
                  id="cuadricula"
                  [class.bi-list]="isGridView"
                  [class.bi-grid-fill]="!isGridView"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Materias -->
      <div class="section-materias" [ngStyle]="gridStyle">
        <div
          *ngFor="let materia of materias"
          [ngClass]="materia.icono"
          class="box quimica"
          [routerLink]="['/materia', materia.id]"
        >
          <!-- Modo cuadrícula -->
          <div *ngIf="isGridView">
            <div class="fill-content circle">
              <span class="material-symbols-outlined">
                {{ materia.icono }}
              </span>
            </div>
          </div>
          <!-- Modo lista -->
          <div *ngIf="!isGridView" class="list-box quimica">
            <div class="list-content">
              <div class="circle">
                <span class="material-symbols-outlined">
                  {{ materia.icono }}
                </span>
              </div>
              <div class="info">
                <h2>{{ materia.titulo }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
