/*GLOBAL*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"); /*Fuente Poppins*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*Cuerpo del footer*/
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #fff;
}
footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
/*Secciones*/
footer .container .sec h2 {
  position: relative;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}
footer .container .sec p {
  color: #555;
}
footer .container .sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}
/*Listas de datos*/
footer .container .sci li {
  list-style: none;
}
footer .container .sci li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #333;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
footer .container .sci li a i {
  color: #fff;
  font-size: 20px;
}
footer .container .quicklinks {
  position: relative;
}
footer .container .quicklinks ul li {
  list-style: none;
}
footer .container .quicklinks ul li a {
  color: #555;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
footer .container .contact .info {
  position: relative;
}
footer .container .contact .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
footer .container .contact .info li span {
  color: #555;
  font-size: 20px;
}
footer .container .contact .info li a {
  color: #555;
  text-decoration: none;
}
.copyrightText {
  width: 100%;
  background: #fff;
  padding: 20px 100px 30px;
  text-align: center;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
/*RESPONSIVE*/
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .copyrightText {
    padding: 20px 40px 30px;
  }
}
@media (max-width: 767px) {
  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
.footer{
  padding: 50px;
}