@import "~bootstrap-icons/font/bootstrap-icons.css";

.grid-container {
  position: fixed;
  top: 200px;
  background-color: white;
  display: grid;
  grid-template-rows: 100px 100px;
  border: 1px solid rgb(204, 204, 204);
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 90vw;
  margin: 50px;
}

/* Title */
h1 {
  font-size: 24px;
}

/* Section Preferencias */
.section-preferencias {
  border-bottom: 1px solid #0000002c;
}

/* Select */
.form-select {
  position: fixed;
  top: 270px;
  right: 250px;
}

#dropdown-materias {
  width: 200px;
}

/* Button */
.block-container {
  position: absolute;
  top: 0;
  margin-top: 10px;
  right: 30px;
  overflow: auto;
}

.bi-grid-fill {
  font-size: 20px;
}

.bi-list {
  font-size: 20px;
}

.block-container > button {
  cursor: pointer;
}

.block-container > button {
  transition: 0.5s;
}

.block-container > button:hover {
  transform: scale(0.9);
}

/* Responsive */
@media (max-width: 1352px) {
  .grid-container {
    /* Select */
    .form-select {
      max-width: 150px;
      font-size: 12px;
      right: 120px;
      margin-top: 5px;
    }
  }
}
