<div class="contenido" >


    <div class="card mb-3  tarjeta "   >
        <div class="card-header">Institucion</div>
        <div class="card-body">
          <h5 class="card-title">
            Buen ambiente estudiantil, en donde se asiste a la Institucion con ropa
            formal (Uniforme), el cual fue acordado por estudiantes y equipo
            directivo. Se busca un buen confort para todos nuestros alumnos, tanto
            como los que están, como los nuevos ingresantes.
          </h5>
          <p class="card-text">
            La tecnicatura se basa en los conocimientos en elementos de la
            programacion, por ejemplo en el taller de robotica, en donde se usa
            Arduino IDE para diseñar con la creatividad un robot que cumpla algunas
            especificaciones. Otro claro ejemplo son los talleres orientados a la
            programacon WEB (Diseño y estructura de paginas WEB), desde lo mas basico
            como html, javascript y css, hasta lo mas avanzado como usar frameworks,
            servidores, base de datos y entre muchas otras cosas para un diseño y
            estructura mas avanzada de las mismas paginas, logrando asi que nuestros
            estudiantes planifiquen un modelo vendible, o gratuito de una pagina web
            que ellos mismos realizaran como proyecto de ultimo año.
          </p>
        </div>
      </div>
      
      <div class="card mb-3  tarjeta" >
        <div class="card-header ">Desarrolladores de la pagina</div>
        <div class="card-body">
          <h5 class="card-title">
            El nombre fue creado a partir de las iniciales de los apellidos de los
            participantes del grupo.
          </h5>
          <p class="card-text">
            Grupo de estudiantes que en el ultimo año se juntaron para crear esta
            plataforma escolar, con el fin de tener un lugar en donde recibir, enviar
            trabajos y notificar sobre algun tema, desde la inasistencia de un
            profesor, como tambien la entrada tarde o salida temprana fuera de la
            jornada normal de estudio. Esta plataforma fue creada a partir de la
            anterior que, si bien funcionaba, pero era dificil de entender por algunos
            estudiantes, e incluso profesores... Por esto vivido por los mismos
            estudiantes, se decidio crear una desde cero, hacerla mas intuitiva y con
            caracteristicas mejoradas tanto como para profesores y alumnos.
          </p>
        </div>
      </div>
      

</div>

